

nav {
     width: 105%;
     position: fixed;
     top: 0;
     color:black;
     font-family: 'copperplate';
     }


footer{
  position:fixed;
  top:30%;
} 

body{
  background-color: black;

  font:13.5px/17.5px;
  border-radius: 0px;
}

.box {
  background: OrangeRed;
  float: left;
  margin: 1.758736059%;
  padding: -10px;
  text-align: center;
  width: 19.615861214%;

}

  #picture { 
  position: fixed; 
  top: 7.8%;
  left: 21.7%;

}
.box:hover
{ 
background-color:black;
}
#description p{
  color: white;
  position: fixed;
  top: 76%;
  left:23%;
  font-size: 108%;


}

 p {
   color: OrangeRed;
  position: fixed; 
  top: 70%;
  left:33%;
  font-size: 153%;
  font-family: 'copperplate'
}

#tel p{
color: white;
  position: fixed; 
  top: 93%;
  left:10%;
  font-size: 85%;
  font-family: 'copperplate'

}


#email p{
color: white;
  position: fixed; 
  top: 95%;
  left:10%;
  font-size: 85%;
  font-family: 'copperplate'

}

a {
    color: black;
}
a:hover {
    color: white;
}


#logo {
  position:fixed;
  top:10%;
}

a:link {
    text-decoration: none;
}

a {
  display:block;
  }

@media all and (min-width: 1300px) and (max-width: 1580px) {
body{ background-color: OrangeRed}
#caption p {color:white;}
.box {
  background:white;
  }
ul {
 list-style: none;
}

 }
.box:hover
{ 
background-color:OrangeRed;
}
}
@media all and (min-width: 768px) and (max-width: 1299px) { 
  .box:hover
{ 
background-color:white;
}
}
@media all and (min-width: 200px) and (max-width: 960px) { 
  #description p{
  display: none;
}

#caption p{
  display: none;
}

.box {
  background: grey;
  float: left;
  margin: 1.258736059%;
  padding: 1px 0;
  text-align: center;
  width: 92.615861214%;
}
.box:hover
{ 
background-color:black;
}

#tel p{
color: grey;
  position: fixed; 
  top: 93%;
  left:10%;
  font-size: 85%;
  font-family: 'copperplate'

}


#email p{
color: grey;
  position: fixed; 
  top: 95%;
  left:10%;
  font-size: 85%;
  font-family: 'copperplate'

}
#pics {
  position: fixed;
  top: 40%;
  left:0%;

}

@media all and (max-width: 640px) {
#pics {
  position: fixed;
  top:18.8%;
  left:0%;


}
#description p{
  display: none;
}
#vid{
  display: none;
}
#caption p{
  display: none;
}
.box {
  background: yellow;
  float: left;
  margin: 1.258736059%;
  padding: 1px 0;
  text-align: center;
  width: 20.615861214%;
  font-size: 90%
}
.box:hover
{ 
background-color:yellow;
}

#tel p{
color: yellow;
  position: fixed; 
  top: 93%;
  left:10%;
  font-size: 85%;
  font-family: 'copperplate'

}


#email p{
color: yellow;
  position: fixed; 
  top: 95%;
  left:10%;
  font-size: 85%;
  font-family: 'copperplate'

}